<%- include('partials/header.ejs') %>
    <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
    <link rel="stylesheet" href="/css/menu-icon.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

<style>
  body {
    overflow-y: auto;
  }
</style>

    </head>
    <%- include('partials/svg.ejs') %>

    <!-- used for populating alerts through javascript -->
        <div id="graph-alerts">

        </div>

        <!-- creates the menu icon in the upper right -->
        <div class="card" id="canvas-form">
            <div class="d-flex justify-content-end" style="text-decoration: none;" type="button" id="menu-toggle">
              <label class="menu-text" id="menu-text" style="font-size: 15pt;">Menu</label>
              <div id="toggle-icon">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
              </div>
            </div>
          </div>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasMenuLabel">Menu</h5>
            </div>
            <div class="offcanvas-body">

              <!-- form dedicated to the graphs -->
              <form action="" method="GET" id="paramForm" style="display:none;">
                <div class="form-group" id="linegraph-menu">
                  <label for="date-min">Start Date</label>
                  <input type="date" class="form-control" id="date-min" name="date-min" min="1988-04-15"
                    max="2022-09-15" value="2000-01-02" />
                  <label for="date-max">End Date</label>
                  <input type="date" class="form-control" id="date-max" name="date-max" min="1988-04-15"
                    max="2022-09-15" value="2001-02-02" />
                </div>   
                <div class="form-group" id="boxplot-menu">
                  <select class="form-select" style="color: #303030" id="datepicker">
                    <option disabled selected>Select Year</option>
                  </select>
                </div>
                <small id="date-help"></small>
                <hr/>
                <div style="float: right; padding-bottom: 1rem;">
                  <button type="submit" class="btn btn-primary" id="submit">
                    Submit
                  </button>
                </div>
              </form>

              <!-- form dedicated to the data table for jquery -->
              <form action="" method="GET" id="dataTable_form" style="">
                <div class="form-group">
                  <label for="date-min">Start Date</label>
                  <input type="date" class="form-control" id="date-min" name="date-min" min="1988-04-15" max="2022-09-15"
                    value="" />
                  <label for="date-max">End Date</label>
                  <input type="date" class="form-control" id="date-max" name="date-max" min="1988-04-15" max="2022-09-15"
                    value="" /><small id="date-help"></small>
                </div>
                <hr class="hr">
                <div class="form-group">
                  <label><strong><b>Energy</b></strong></label> - <i><small>Positive value in joules x
                      10<sup>10</sup> (e.g., <u>'4'</u> = 4 x 10<sup>10</sup>)</small></i>
                  <br />
                  <label for="energy-min">Min Energy</label>
                  <input type="number" class="form-control" id="energy-min" name="energy-min" min="2" max="37500"
                    value="" />
                  <label for="energy-max">Max Energy</label>
                  <input type="number" class="form-control" id="energy-max" name="energy-max" min="2" max="37500"
                    value="" /><small id="e-help"></small>
                </div>
                <hr class="hr">
                <div class="form-group">
                  <label><strong><b>Impact Energy</b></strong></label> - <i><small>Estimated impact energy in
                      positive values of kilotons (kt) (e.g., <u>0.08</u> kt)</small></i><br>
                  <label for="impact-e-min">Min Impact Energy</label>
                  <input type="number" class="form-control" id="impact-e-min" name="impact-e-min" min="0" max="440"
                    value="" />
                  <label for="impact-e-max">Max Impact Energy</label>
                  <input type="number" class="form-control" id="impact-e-max" name="impact-e-max" min="0" max="440"
                    value="" /><small id="impact-e-help"></small>
                </div>
                <hr class="hr">
                <div class="form-group">
                  <label for="limit"><strong>Limit</strong></label> - <i><small>Number of results to return (e.g.,
                      <u>100</u>)</small></i><input type="number" id="limit-label"></input><br>
                  <input type="range" class="form-range" id="limit" name="limit" step="1" />
                  <small id="limit-help"></small>
                </div>
                <hr class="hr">
                <div class="form-group">
                  <label for="requirements"><strong>Require...</strong></label> - <i><small>Require specific data sections</small></i>
                  <br>
                  <div class="form-check form-check-inline form-switch">
                    <input class="form-check-input" type="checkbox" id="req-alt">
                    <label class="form-check-label" for="req-alt">
                      Altitude
                    </label>
                  </div>
                  <div class="form-check form-check-inline form-switch" style="margin-left: 51px">
                    <input class="form-check-input" type="checkbox" id="req-vel">
                    <label class="form-check-label" for="req-vel">
                      Velocity
                    </label>
                  </div>
                  <br>
                  <div class="form-check form-check-inline form-switch">
                    <input class="form-check-input" type="checkbox" id="req-loc">
                    <label class="form-check-label" for="req-loc">
                      Location <small><i>(lng, lat)</i></small>
                    </label>
                  </div>
                  <div class="form-check form-check-inline form-switch">
                    <input class="form-check-input" type="checkbox" id="req-vel-comp">
                    <label class="form-check-label" for="req-vel-comp">
                      Velocity Components <small><i>(x, y, z)</i></small>
                    </label>
                  </div>
                </div>
                <hr class="hr">
                <div class="form-group">
                  <button class="btn btn-secondary" style="float: right;" type="button" id="reset">Reset Table</button>
                </div>
              </form>
            </div>
          </div>

          
          <div id="div-scroll">
            <!-- tab headers -->
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                  <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="dataTable-tab" data-bs-toggle="pill"
                          data-bs-target="#data-table" type="button" role="tab" aria-controls="pills-contact"
                          aria-selected="true">Data Table</button>
                  </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="scatterPlot-tab" data-bs-toggle="pill"
                            data-bs-target="#scatter-graph" type="button" role="tab"
                            aria-selected="false">Scatter Plot</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="boxPlot-tab" data-bs-toggle="pill"
                            data-bs-target="#boxplot-graph" type="button" role="tab"
                            aria-selected="false">Box Plot</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="lineGraph-tab" data-bs-toggle="pill"
                          data-bs-target="#line-graph" type="button" role="tab"
                          aria-selected="false">Line Graph</button>
                  </li>
                </ul>
                <!-- tab contents (i.e. graphs and tables) -->
                <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="data-table" role="tabpanel">
                    <!-- initializing the table for jquery data table -->
                    <table id="fireball_data" class="display" style="width:100%; padding:2rem;">
                      <thead>
                        <tr>
                          <% for(var i=0; i < fields.length; i++) { %>
                              <th><%= fields[i] %></th>
                         <% } %>
                        </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <% for(var i=0; i < fields.length; i++) { %>
                            <th><%= fields[i] %></th>
                       <% } %>
                      </tr>
                    </tfoot>
                    </table> 
                  </div>
                    <div class="tab-pane fade" id="scatter-graph" role="tabpanel">
                        <div id="scatter-div">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="boxplot-graph" role="tabpanel">
                        <div id="boxplot-div">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="line-graph" role="tabpanel">
                      <div id="linegraph-div">
                      </div>
                  </div>
                </div>
            </div>

        <script src="/js/graph/graph.js"></script>
        <script src="/js/graph/data_table.js"></script>
        <script src="/js/utility.js"></script>

        <%- include('partials/footer.ejs') %>