<%- include('partials/header.ejs') %>
<<<<<<< HEAD
<script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.min.js"></script>
<div id="index-wrapper">
    <div class="d-flex justify-content-center">
      <h1><%= title%> - <%= message%></h1>
    </div>
=======
<div class="d-flex justify-content-center">
      <h1><%= title%> - <%= message%></h1>
</div>
>>>>>>> eb97eb5ce404dcd2b2d291467deef5b27b985e2f
    <div class="text-center">
      <a type="button" class="btn btn-dark mr-1" href="/globe/fireball">Go to Data Globe</a>
      <a type="button" class="btn btn-dark ml-1" href="/graphs">Go to Graphs</a>
    </div>
<<<<<<< HEAD
</div>

<script src="/js/spaceBackground.js"></script>
=======
>>>>>>> eb97eb5ce404dcd2b2d291467deef5b27b985e2f
<%- include('partials/footer.ejs') %>